* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.red {
    color: red;

}

h1 {
    top: 15%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 700%;
    position: absolute;
    width: 100%;

}

h2 {
    top: 30%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    position: absolute;
    width: 100%;

}

.HighScore {
    top: 35%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    position: absolute;
    width: 100%;

}

.button {
    top: 40%;
    left: 23%;
    padding: 2%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    color: black;
    position: absolute;
    width: 50%;
    text-decoration: none;
    background-color: red;
    border-radius: 20px;
}

.button:hover {
    top: 40%;
    left: 23%;
    padding: 2%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    color: black;
    position: absolute;
    width: 50%;
    text-decoration: none;

    background-color: darkred;
    border-radius: 20px;
}

.button2 {
    top: 60%;
    left: 23%;
    padding: 2%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    color: black;
    position: absolute;
    width: 50%;
    text-decoration: none;

    background-color: red;
    border-radius: 20px;
}

.button2:hover {
    top: 60%;
    left: 23%;
    padding: 2%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    color: black;
    position: absolute;
    width: 50%;
    text-decoration: none;

    background-color: darkred;
    border-radius: 20px;
}

.footer {
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    color: black;
    position: absolute;
    font-style: normal;
}

.playground {
    background-image: url("../Images/Background/Background_Playground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    border: 0px;
}